[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Dd]ata
[Oo]utput
[Cc]onfig

__pycache__
.empty
best_model
logs
results
.ipynb_checkpoints
__pypackages__/
pyvenv.cfg

*.pyc
*.json
*.csv
*.pt
*.yaml
*.txt
*.pth
*.bin
!requirements.txt
!default_config.yaml
!.pre-commit-config.yaml
!sample_submission.csv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store